  @import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@300&family=Dosis:wght@600&family=IBM+Plex+Sans+Arabic:wght@600&family=Open+Sans:wght@400;700&family=Rubik&display=swap');
*{
  font-family: 'Alexandria', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'IBM Plex Sans Arabic', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Rubik', sans-serif;
}
.border{
  border: 1px solid red;
}
.border2{
  border: 1px solid green;
}
#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
